.rectangle {
    position: absolute;
    top: calc(50% - 18.38px);
    left: calc(50% - 345px);
    border-radius: 16px;
    background-color: #f5f5f5;
    border: 3px solid var(--color-forestgreen-100);
    box-sizing: border-box;
    width: 326px;
    height: 37px;
    cursor: text;
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    z-index: 2; /* Ensure the input is above other elements */
 }
 .rectangle input[type="text"] {
	font-weight:bold;
	}
 .rectangle1 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    border-radius: 25px;
    background-color: #efefef;
    height: 31px;
 }
 .search {
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 21px);
    text-transform: capitalize;
    display: inline-block;
    width: 42px;
 }
 .frame2 {
    position: absolute;
    top: calc(50% - 15.38px);
    left: calc(50% - 19px);
    width: 74px;
    height: 31px;
 }
 .rectangle2 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #1f4b09;
    height: 31px;
 }
 .current-location {
    position: absolute;
    top: calc(50% - 14.5px);
    left: calc(50% - 101.5px);
    text-transform: capitalize;
    display: inline-block;
    width: 228px;
 }
 .frame3 {
    position: absolute;
    top: calc(50% - 15.38px);
    left: calc(50% + 80px);
    width: 283px;
    height: 31px;
    font-size: 25px;
    color: var(--color-lightgoldenrodyellow);
 }
 .frame1 {
    position: absolute;
    width: 98.67%;
    top: 79.88px;
    right: 0.67%;
    left: 0.67%;
    height: 37px;
    z-index: 1; /* Ensure frame1 is below the .rectangle */
 }
 .rectangle3 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    height: 500px;
 }
 .rectangle4 {
    position: absolute;
    top: 0px;
    right: -162px;
    width: 600px;
    height: 500px;
 }
 .frame5 {
    position: absolute;
    width: 36.99%;
    top: 0.13px;
    right: 5.74%;
    left: 57.26%;
    height: 500px;
 }
 .untitled-design-6-1 {
    position: absolute;
    top: -83.87px;
    left: 234px;
    width: 1238px;
    height: 624px;
    object-fit: cover;
 }
 .untitled-design-5-1 {
    position: absolute;
    top: -67.87px;
    left: 570px;
    width: 221px;
    height: 49px;
    object-fit: cover;
 }
 .frame-child {
    position: absolute;
    top: 0.13px;
    left: 88px;
    background-color: #51a83b;
    width: 574px;
    height: 500px;
 }
 .date {
    position: absolute;
    top: 408.13px;
    left: 141px;
    text-transform: capitalize;
 }
 .speed {
    position: absolute;
    top: 279.13px;
    left: 364px;
    text-transform: capitalize;
 }
 .clear-sky {
    position: absolute;
    top: 200.13px;
    left: 364px;
    text-transform: capitalize;
 }
 .icon {
    position: absolute;
    top: 9.13px;
    left: 8px;
    width: 345px;
    height: 111px;
    object-fit: cover;
 }
 .icon1 {
    position: absolute;
    top: 87.13px;
    left: 8px;
    width: 376px;
    height: 109px;
    object-fit: cover;
 }
 .icon2 {
    position: absolute;
    top: 159.13px;
    left: -8px;
    width: 425px;
    height: 138px;
    object-fit: cover;
 }
 .humidity {
    position: absolute;
    top: 124.13px;
    left: 364px;
    text-transform: capitalize;
 }
 .frame4 {
    position: absolute;
    width: 98.67%;
    top: 141.88px;
    right: 0.67%;
    left: 0.67%;
    height: 500px;
    font-size: var(--font-size-11xl);
    color: var(--color-white);
 }
 .icon3 {
    position: absolute;
    top: 418px;
    left: 0px;
    width: 420px;
    height: 72px;
    object-fit: cover;
 }
 .sky-1-icon {
    position: absolute;
    top: 539px;
    left: 350px;
    width: 620px;
    height: 261px;
    object-fit: cover;
 }
 .frame {
    position: relative;
    background-color: var(--color-lightgoldenrodyellow);
    width: 100%;
    height: 800px;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    color: var(--color-forestgreen-100);
    font-family: var(--font-roboto);
 }
 
 
 